.carousel {
  display: flex;
  flex-direction: column-reverse;
  z-index: 10;
  overflow: hidden;
  max-width:1440px;
  margin:0 auto;
}

.carousel-container {
  display: flex;
  padding: 32px 16px 24px;
  gap: 0 16px;
}

.carousel-panel {
  grid-row: 2;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.carousel-panel button {
  height: 12px;
  width: 12px;
  background-color: #e0dbbf;
  transition: 0.3s;
  border-radius: 8px;
  border: none;
}

.carousel-panel button:hover {
  background-color: var(--red);
}

.carousel-panel button.selected {
  background-color: var(--red);
  width: 36px;
  border-radius: 8px;
}

.item {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 288px;
  min-height: 316px;
  box-shadow: 0 4px 10px 2px rgba(224, 219, 191, 0.6);
  border-radius: 12px;
  transition: background-color .3s;
  cursor: pointer;
}

/* Carousel classes */
.item.active, 
.item[data-selected="true"] {
  background-color: var(--blue);
}

.item.active .item-title,
.item[data-selected="true"] .item-title {
  color: white;
}

.item.active .item-description,
.item[data-selected="true"] .item-description {
  color: white;
}

.item.active .item-price,
.item[data-selected="true"] .item-price {
  color: var(--yellow);
}

/* breakpoints */

@media (min-width:1005px){
  .carousel-container {
    justify-items: center;
    justify-content: center;
    gap: 64px;
  }

  .carousel-panel {
    display: none;
  }
}