/* preOrder page */
#preOrder header {
  background-image: url('/images/header/pattern-vermelho.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 146%;
  height: 677px;
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delivery {
  width: 262px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery img {
  z-index: 2;
  max-height: 683px;
}

.delivery .blue-ballon {
  position: absolute;
  width: 45px;
  height: 50px;
  top: 0;
  left: 0;
}

.delivery .yellow-ballon {
  position: absolute;
  width: 41px;
  height: 95px;
  top: 96px;
  right: 0;
}

.delivery .circle {
  position: absolute;
  background-color: #730000;
  border-radius: 50%;
  height: 85.94%; 
  width: 87.22%;
}

#preOrder .japan-header-text {
  margin: 8px 0 11px;
  color: var(--yellow);
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
  text-align: center;
}

.go {
  font-size: 7.5rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 24px;
  line-height: 6.25rem;
  text-align: center;
}

.bottom-header-text {
  text-align: center;
  color: #fff;
  line-height: 1.25rem;
  width: 300px;
}

/* items */
#preOrder main {
  padding-bottom: 38px;
}

#preOrder section#broth {
  margin-top: 40px;
}

#preOrder section#meat {
  margin-top: 62px;
}

#preOrder .section-title {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  margin-bottom: 16px;
  padding: var(--gap);
}

#preOrder .section-subtitle {
  text-align: center;
  padding: var(--gap);
}

.item-title {
  color: var(--blue);
  font-weight: 900;
  font-size: var(--font-medium);
  line-height: 1.5rem;
  margin: 13px 0 10px;
}

.item-description {
  font-size: var(--font-small);
  margin-bottom: 14px;
  text-align: center;
  max-width: 257px;
}

.item-price {
  display: block;
  font-weight: 900;
  font-size: var(--font-medium);
  line-height: 1.5rem;
  color: var(--red);
}



#preOrder .button-order-now {
  display: none;
}

#preOrder .button-order-now:hover span {
  position: absolute;
  animation: arrowLeft 1s infinite ease-in-out;
}

#submit.ready {
  background-color: var(--blue);
}

#submit.ready span {
  position: absolute;
  animation: arrowLeft 1s infinite ease-in-out;
  content: url('../images/icons/arrow-yellow.svg')
}

@keyframes arrowLeft {
  0% {
    right:20px
  }
  50% {
    right:30px
  }
  100% {
    right:20px
  }
}