:root {
  --blue: #1820ef;
  --red: #ff4e42;
  --yellow: #ffc024;
  --main-background: #fafaed;
  
  --font-medium: 1.25rem;
  --font-small: 0.875rem;
}

/* reset */
html {
  font-size: 18px;
  line-height: 24px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background);
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

h1,
h2,
h3,
p,
a,
strong,
small,
button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* Mobile */
.logo {
  padding: 24px 0;
}

/* preOrder page */

#preOrder header {
  background-image: url('/images/header/background-pattern.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delivery {
  width: 289px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery img {
  z-index: 2;
  max-height: 683px;
}

.delivery .blue-ballon {
  position: absolute;
  width: 45px;
  height: 50px;
  top: 22px;
  left: 0;
}

.delivery .yellow-ballon {
  position: absolute;
  width: 41px;
  height: 95px;
  top: 37%;
  right: 0;
}

.delivery .circle {
  position: absolute;
  background-color: #730000;
  border-radius: 50%;
  height: 85.94%; 
  width: 87.22%;
  z-index: 1;
}

.japan-header-text {
  margin: 11px 0;
  color: var(--yellow);
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
  text-align: center;
}

.go {
  font-size: 7.5rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 24px;
  line-height: 6.25rem;
  text-align: center;
}

.bottom-header-text {
  text-align: center;
  color: #fff;
  margin-bottom: 66px;
  line-height: 1.25rem;
  width: 300px;
}

/* items */
#preOrder main {
  padding-bottom: 38px;
}

#preOrder section#broth {
  margin-top: 40px;
}

#preOrder section#meat {
  margin-top: 62px;
}

.section-title {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  margin-bottom: 16px;
  padding: 0 16px;
}

.section-subtitle {
  text-align: center;
  padding: 0 16px;
}

/* Carousel */
#preOrder .carousel {
  display: grid;
  grid-template-rows: 1fr auto;
  z-index: 10;
}

.carousel-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  overflow-x: scroll;
  padding: 32px 16px 24px;
  gap: 0 16px;
}

.carousel-panel {
  grid-row: 2;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.carousel-panel button {
  height: 12px;
  width: 12px;
  background-color: #e0dbbf;
  transition: 0.3s;
  border-radius: 8px;
  border: none;
}

.carousel-panel button.active {
  background-color: var(--red);
  width: 36px;
  border-radius: 8px;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 288px;
  min-height: 316px;
  box-shadow: 0 4px 10px 2px rgba(224, 219, 191, 0.6);
  border-radius: 12px;
  transition: background-color .3s;
  cursor: pointer;
}

.item:hover,.item.active {
  background-color: var(--blue);
}

.item:hover .item-title,.item.active .item-title {
  color: white;
}

.item:hover .item-description,.item.active .item-description {
  color: white;
}

.item:hover .item-price,.item.active .item-price {
  color: var(--yellow);
}

.item-title {
  color: var(--blue);
  font-weight: 900;
  font-size: var(--font-medium);
  line-height: 1.5rem;
  margin: 13px 0 10px;
}

.item-description {
  font-size: var(--font-small);
  margin-bottom: 14px;
  text-align: center;
  max-width: 256px;
}

.item-price {
  display: block;
  font-weight: 900;
  font-size: var(--font-medium);
  line-height: 1.5rem;
  color: var(--red);
}

/* Ctas */

.button {
  color: white;
  font-weight: 800;
  font-size: var(--font-small);
  line-height: 1.29875rem;
  letter-spacing: 1.78px;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  background-color: #c5c5c5;
  margin: 48px auto 0;
  position: relative;
  width: 235px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  cursor: pointer;
}

.button-order-now {
  background-color: var(--blue);
  display: none;
}

/* posOrder page */
#posOrder header {
  height: 100vh;
  width: 100%;
  background-image: url('/images/pattern-azul.png');
  background-size: 145%;
  background-position: 69px 37px;
  display: grid;
  grid-template-rows: 107px auto 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: start;
}

#posOrder .chosen-food {
  grid-row: 2;
}

#posOrder .chosen-food img {
  margin: 0 auto;
}

#posOrder .chosen-food-text {
  position: absolute;
  top: 471px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#posOrder .chosen-food-text h2 {
  width: 270px;
  margin-top: 18px;
  text-align: center;
  line-height: 2rem;
  font-size: var(--font-medium);
  font-weight: 900;
  color: var(--yellow);
}

#posOrder .chosen-food-text p {
  font-size: var(--font-medium);
  line-height: 1.5rem;
  color: white;
  font-weight: 900;
  text-align: center;
}

#posOrder main {
  margin: 71px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#posOrder main figure img{
  margin: 0 auto;
}

#posOrder main figure p {
  color: var(--yellow);
  font-size: var(--font-medium);
  font-weight: 900;
  margin-top: 18px;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

#posOrder main h1 {
  text-align: center;
  margin-top: 15px;
  width: 325px;
  font-weight: 900;
  color: var(--red);
  font-size: var(--font-medium);
}

#posOrder main p {
  margin-top: 24px;
  text-align: center;
  width: 325px;
  letter-spacing: -0.8px;
}

#posOrder .button-new-order {
  background-color: var(--blue);
}

#posOrder .button-new-order span {
  background-image: url(/images/icons/arrow-yellow.svg);
  background-size:cover;
  background-position: center;
  width: 23px;
  height: 16px;
}

@media(min-width:1005px) {
  html {
    font-size: 16px;
    line-height: 24px;
  }

  /* header */
  #preOrder header {
    height: 768px;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 40px;
    padding-top: 44px;
  }

  .header-container {
    max-width: 1034px;
    padding: 38px 40px 47px;
    position: relative;
  }

  .delivery {
    height: 683px;
    width: 666px;
  }

  .delivery .blue-ballon {
    height: 129px;
    width: 116px;
  }

  .delivery .yellow-ballon {
    height: 242px;
    width: 106px;
    right: -6px;
  }

  .go {
    font-size: 10rem;
    position: absolute;
    left: -67px;
    top:281px;
    z-index: 3;
  }

  .japan-header-text {
    position: absolute;
    width: 48px;
    left: -123px;
    top: 150px;
  }

  .bottom-header-text {
    width: 201px;
    text-align: left;
    position: absolute;
    top: 404px;
    left: -123px;
  }

  /* main */
  main {
    padding-bottom: 126px;
  }

  section#broth {
    margin-top: 115px;
  }

  .section-title {
    letter-spacing: -0.8px;
    font-size: 2rem;
  }

  .button-order-now {
    display: flex;
  }

  /* carousel */

  .carousel-container {
    justify-items: center;
    justify-content: center;
    gap: 64px;
  }

  .carousel-panel {
    display: none;
  }
}


