@use '../base/index.scss' as *;

.btn {
    border-radius: 50px;
    height: 60px;
    width: 213px;
    border: none;
    font-family: $rounded1c;
    font-weight: 800;
    padding: 0 16px;
    display: flex;
    align-items: center;
    background: #c5c5c5;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.78px;
    text-transform: uppercase;

    &__arrow {
        height: 16px;
        width: 20px;
    }

    &--is-active {
        background: #1820ef;

        svg {
            fill: #ffc024;
        }
    }
}
