@use '../base/index.scss' as *;

.card {
    $self: &;
    height: 316px;
    width: 320px;
    left: 139px;
    top: 1015px;
    border-radius: 11px;
    background: #fafaed;
    box-shadow: 0px 4px 12px rgba(224, 219, 191, 0.6);
    border-radius: 11px;

    &__title {
        font-family: $rounded1c;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #1820ef;
    }

    &__description {
        font-family: $rounded1c;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
    }

    &__price {
        font-family: $rounded1c;
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #ff4e42;
    }

    &__img {
        width: 104px;
        height: 104px;
    }

    &:hover,
    &.--is-active {
        background: #1820ef;

        &__title {
            color: #ffffff;
        }

        &__description {
            color: #ffffff;
        }

        &__price {
            color: #ffc024;
        }
    }
}
