ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    border-radius: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img,
strong,
span {
    display: block;
}

h1,
h2,
h3,
p,
strong,
span {
    letter-spacing: 0;
}
