@use '../base' as *;
.header {
    height: 677px;
    background-image: url('/images/header/red-bg.svg');
    display: grid;
    max-width: 1366px;
    grid-template-columns: 1fr;
    grid-template-rows: 59px 270px 186px 96px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    grid-template-areas:
        'logo'
        'img'
        'titles'
        'intro';

    &__logo {
        grid-area: logo;
        height: 15.666105270385742px;
        width: 124.69438171386719px;
    }

    &__delivery-img {
        grid-area: img;
        height: 269px;
        width: 262.3045349121094px;
    }

    &__header-titles {
        grid-area: titles;
    }

    &__japan-text {
        grid-area: intro;
        height: 54px;
        text-align: center;
        font-family: $rounded1c;
        font-size: 48px;
        font-weight: 900;
        line-height: 56px;
        color: $logo;
        margin: 0 auto;
    }

    &__GO {
        font-family: $rounded1c;
        color: $brand;
        margin-top: 11px;
        font-size: 120px;
        font-weight: 900;
        line-height: 100px;
        text-align: center;
    }

    &__intro {
        width: 300px;
        font-family: $rounded1c;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        align-self: flex-end;
    }

    &__btn {
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
    }
}
